<h1>Add a post</h1>

<form method="POST" action="/posts" >
  Title: <input type="text" name="title" value="<%= params[:title] %>"/> <br>
  Content: <input type="text" name="content" value="<%= params[:content] %>"/> <br>
  Rating: <input type="text" name="rating" value="<%= params[:rating] %>"/><br>

  <input type="submit">
</form>
