<h1>Add a post</h1>

<form method="POST" action="/create" >
  Title: <input type="text" name="title"> <br>
  Content: <input type="text" name="content"> <br>
  Rating: <input type="text" name="rating"><br>

  <input type="submit">
</form>
